@import "~@fortawesome/fontawesome-free/css/all.min.css"; /* FontAwesome */

/* Vérification de l'image */
img {
    max-width: 100%;
    height: auto;
}

/* Couleurs personnalisées inspirées par une palette bleu et blanc */
.navbar {
    background-color: #1E3A8A; /* Bleu foncé */
}
.navbar-brand {
    color: #E0F2FE; /* Bleu clair */
}
.navbar-nav .nav-link {
    color: #BFDBFE; /* Bleu pâle */
}
.navbar-nav .nav-link:hover {
    color: #E0F2FE; /* Bleu plus clair au survol */
}

/* Corps de la page */
body {
    padding-top: 60px; /* Ajuste selon la hauteur réelle de ta navbar */
}


#background-video {
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}

h1, h2, #btnVideo{
    color: white;
    font-family: Trebuchet MS;
    font-weight: bold;
    text-align: center;
}

h1 {
    font-size: 6rem;
    margin-top: 30vh;
}

h2 { font-size: 3rem; }

#btnVideo{
    font-size: 1.5rem;
    background: 0;
    border: 0;
    margin-left: 50%;
    transform: translateX(-50%);
}

/* Style pour le titre */
h1 {
    color: #1E3A8A; /* Bleu foncé */
    text-align: center;
    padding-top: 20vh;
}

/* Navbar Toggler */
.navbar-toggler-icon {
    background-color: #BFDBFE; /* Bleu pâle */
}

/* Style des éléments désactivés */
.nav-item.disabled {
    color: #93C5FD; /* Bleu gris clair */
}

/* Footer */
footer {
    background-color: #1E3A8A; /* Bleu foncé */
    color: #E0F2FE; /* Bleu clair */
    text-align: center;
    padding: 20px;
    margin-top: 50px;
}

footer a {
    color: #E0F2FE; /* Bleu clair */
    text-decoration: none;
    transition: color 0.3s ease;
}

footer a:hover {
    color: #BFDBFE; /* Bleu plus clair au survol */
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-socials {
    margin-top: 10px;
}

.footer-socials a {
    margin: 0 10px;
    font-size: 20px;
}

footer .copyright {
    font-size: 14px;
    margin-top: 10px;
}

/* Section vidéo en plein écran */
#hero {
    position: relative;
    width: 100%;
    height: 100vh; /* 100% de la hauteur de l'écran */
    overflow: hidden;
}

#background-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1; /* Met la vidéo en arrière-plan */
}


.navbar {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000; /* S'assurer qu'elle passe au-dessus de tout */
    transition: top 0.3s ease-in-out;
    background-color: rgba(255, 255, 255, 0.9); /* Ajoute un léger fond pour la lisibilité */
}

