@import "~@fortawesome/fontawesome-free/css/all.min.css"; /* FontAwesome */

/* Section Profil */
#profil {
    color: #333333; /* Texte sombre pour lisibilité */
    padding: 50px 0; /* Espacement en haut et en bas de la section */
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centre horizontalement tous les éléments */
    text-align: center; /* Centre le texte */
}

#profil h2 {
    font-size: 3rem;
    color: #1E3A8A;
    margin-bottom: 30px;
    font-weight: bold;
    text-transform: uppercase;
}

#profil p {
    font-size: 1.1rem;
    line-height: 1.6;
    text-align: justify;
    color: #333333;
    max-width: 800px;
    margin: 0 auto;
    padding: 0 15px;
}

#profil .btn-custom {
    margin-top: 20px; /* Espacement avec le texte */
    font-weight: bold;
    padding: 10px 20px;
    background-color: #1E3A8A;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

/* Media Queries pour petits écrans */
@media (max-width: 768px) {
    #profil h2 {
        font-size: 2.5rem;
    }

    #profil p {
        font-size: 1rem;
    }
}




/* Section BTS */
#bts h2 {
    color: #1E3A8A; /* Bleu foncé */
    font-size: 3rem;
    margin-bottom: 30px;
}

#bts p {
    color: #333333;
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 1.5rem;
}

#bts h3 {
    color: #1E3A8A; /* Bleu foncé */
    font-size: 1.75rem;
    margin-bottom: 20px;
}

#bts ul {
    list-style-type: disc;
    margin-left: 2rem;
    color: #333333;
}

#bts ul li {
    font-size: 1rem;
    line-height: 1.6;
}

/* Conteneur pour les options SISR et SLAM */
.section-fade-in {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

/* Responsive pour les sections */
@media (max-width: 768px) {
    .row {
        flex-direction: column;
    }
    .col-md-5 {
        width: 100%;
    }
}

/* Bootstrap Customization */
.section-fade-in .col-md-5 {
    background-color: #E0F2FE; /* Bleu clair */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}


.section-fade-in h3 {
    color: #1E3A8A; /* Bleu foncé */
}

.section-fade-in p {
    color: #333333;
}

/* Styles supplémentaires pour le texte et les éléments */
#bts .row {
    display: flex;
    justify-content: space-between;
}

#bts .col-md-5 {
    padding: 20px;
}


/* Section Parcours */
#parcours {
    padding: 50px 0;
    color: #333;
    min-height: 80vh;
}

#parcours h2 {
    font-size: 3rem;
    color: #1E3A8A;
    text-align: center;
    margin-bottom: 30px;
    font-weight: bold;
    text-transform: uppercase; /* Majuscule pour donner plus d'impact au titre */
}

#parcours h3 {
    text-align: center;
    max-width: 900px;
    margin: 0 auto;
}

#parcours p {
    font-size: 1.1rem;
    line-height: 1.8;
    text-align: center;
    max-width: 900px;
    margin: 0 auto;
    margin-bottom: 40px;
    padding: 0 20px;
}

#parcours .design-section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#stages h2 {
    color: #1E3A8A; /* Bleu foncé */
    font-size: 3rem;
    margin-bottom: 30px;
}

#stages p {
    color: #333333;
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 1.5rem;
}

#stages h3 {
    color: #1E3A8A; /* Bleu foncé */
    font-size: 1.75rem;
    margin-bottom: 20px;
}

#stages ul {
    list-style-type: disc;
    margin-left: 2rem;
    color: #333333;
}

#stages ul li {
    font-size: 1rem;
    line-height: 1.6;
}

.stage-card {
    cursor: pointer;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    transition: transform 0.5s ease-in-out, box-shadow 0.3s ease-in-out;
}

.stage-card:hover {
    transform: scale(1.05);
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.15);
}

/* Conteneur pour les stages */
.section-fade-in {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

/* Responsive pour les sections */
@media (max-width: 768px) {
    .row {
        flex-direction: column;
    }
    .col-md-5 {
        width: 100%;
    }
}

/* Bootstrap Customization */
.section-fade-in .col-md-5 {
    background-color: #E0F2FE; /* Bleu clair */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

.section-fade-in h3 {
    color: #1E3A8A; /* Bleu foncé */
}

.section-fade-in p {
    color: #333333;
}

/* Styles supplémentaires pour le texte et les éléments */
#stages .row {
    display: flex;
    justify-content: space-between;
}

#stages .col-md-5 {
    padding: 20px;
}


/* Section Contact */
#contact {
    background-color: #F9FAFB; /* Fond clair */
    text-align: center;
    color: #333;
}

#contact h2 {
    font-size: 3rem;
    color: #1E3A8A;
    margin-bottom: 20px;
    font-weight: bold;
    text-transform: uppercase;
}

#contact p {
    font-size: 1.1rem;
    line-height: 1.6;
    color: #555;
    max-width: 800px;
    margin: 0 auto 40px;
}

.contact-info {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    margin-top: 20px;
}

.contact-item {
    text-align: center;
}

.social-link {
    font-size: 2rem;
    color: #1E3A8A;
    text-decoration: none;
    transition: color 0.3s ease;
}

.social-link:hover {
    color: #BFDBFE;
}

.social-link i {
    margin: 0 15px;
}

/* Icône de GitHub et d'e-mail */
.fab, .fas {
    transition: transform 0.3s ease;
}

.social-link:hover .fab, .social-link:hover .fas {
    transform: scale(1.1);
}

/* Vérification de l'image */
img {
    max-width: 100%;
    height: auto;
}

/* Corps de la page */
body {
    background-color: #f9f9f9; /* Blanc cassé pour un look moderne */
    margin: 0;
    font-family: 'Arial', sans-serif;
    color: #333333;
    overflow-x: hidden;
}

/* Navbar */
.navbar {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: transparent;
    transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    padding: 1rem 2rem;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-wrapper {
    transition: transform 0.3s ease, opacity 0.3s ease; /* Animation fluide */
}

/* Cacher la navbar en la déplaçant hors de la vue et en rendant l'élément transparent */
.navbar-wrapper.hidden {
    transform: translateY(-100%); /* Déplacer l'élément parent hors de la vue */
    opacity: 0; /* Rendre l'élément transparent */
}

/* Navbar après scroll */
.navbar.scrolled {
    background-color: rgba(255, 255, 255, 0.95);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Logo / Nom */
.navbar-brand {
    font-size: 1.8rem;
    font-weight: bold;
    font-family: 'Poppins', sans-serif; /* Ajoute une police moderne */
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: color 0.3s ease-in-out;
}

/* Couleur du logo après scroll */
.navbar.scrolled .navbar-brand {
    color: #333;
}

/* Menu */
.navbar-menu {
    list-style: none;
    display: flex;
    gap: 2rem;
    padding: 0;
    margin: 0;
}

/* Liens */
.nav-link {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
    position: relative;
}

/* Couleur après scroll */
.navbar.scrolled .nav-link {
    color: black;
}

/* Effet de soulignement */
.nav-link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #1E3A8A;
    transition: width 0.3s ease-in-out;
    position: absolute;
    left: 0;
    bottom: -3px;
}

.nav-item:hover .nav-link::after {
    width: 100%;
}

.stage-page .navbar {
    background-color: white !important;
}

.stage-page .navbar .navbar-brand,
.stage-page .navbar .nav-link {
    color: black !important;
}

.stage-page .navbar .nav-link:hover {
    color: #555 !important;
}

.stage-page .navbar-toggler {
    border-color: black !important;
}

.stage-page .navbar-toggler-icon {
    filter: invert(1);
}

/* Section bouton BackToTop*/
#backToTop {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background-color: #1E3A8A;
    border: none;
    border-radius: 50%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: opacity 0.3s;
    display: none;
    align-items: center;
    justify-content: center;
}
#backToTop i {
    color: white;
    font-size: 24px;
}
#backToTop:hover {
    opacity: 0.8;
}

/* Section avec la vidéo en arrière-plan */
#hero {
    position: relative;
    width: 100%;
    height: 100vh; /* La section prend toute la hauteur de l'écran */
    overflow: hidden;
}
#hero h1,
#hero h2 {
    color: white;
}
/* Vidéo de fond limitée à #hero */
#background-video {
    position: absolute; /* Utilisé en mode absolu pour s'adapter à #hero */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

/* Ajout du dégradé en bas de la section pour un fondu */
#hero::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30%; /* Étend le dégradé sur une plus grande hauteur */
    background: linear-gradient(to bottom,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.2) 20%,
    rgba(255, 255, 255, 0.6) 60%,
    whitesmoke 100%);
    z-index: 1; /* S'assurer que le dégradé est au-dessus de la vidéo */
}
/* Titres et bouton de la vidéo */
h1, h2, #btnVideo {
    font-size: 3rem;
    color: #1E3A8A; /* Bleu foncé */
    font-family: 'Trebuchet MS', sans-serif;
    font-weight: bold;
    text-align: center;
}

h1 {
    font-size: 6rem;
    margin-top: 30vh;
    padding-top: 20vh;
}


#btnVideo {
    position: absolute;
    bottom: 20px;
    right: 20px;
    padding: 10px 20px;
    background-color: white;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

#btnVideo:hover {
    background-color: whitesmoke;
}

#mentions-legales h2 {
    color: #1E3A8A; /* Bleu foncé */
    font-size: 3rem;
    margin-bottom: 30px;
}

#mentions-legales p {
    color: #333333;
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 1.5rem;
}

#mentions-legales h3 {
    color: #1E3A8A; /* Bleu foncé */
    font-size: 1.75rem;
    margin-bottom: 20px;
}

#mentions-legales ul {
    list-style-type: disc;
    margin-left: 2rem;
    color: #333333;
}

#mentions-legales ul li {
    font-size: 1rem;
    line-height: 1.6;
}

/* Responsive design */
@media (max-width: 768px) {
    #mentions-legales {
        padding: 20px;
    }
}


/* Footer */
footer {
    background-color: white;
    color: #E0F2FE; /* Bleu clair */
    text-align: center;
    padding: 20px;
    margin-top: 15px;
}

footer a {
    color: #1E3A8A;;
    text-decoration: none;
    transition: color 0.3s ease;
}

footer a:hover {
    color: #BFDBFE;
}

.footer-content {
    color: #1E3A8A;;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-socials {
    margin-top: 10px;
}

.footer-socials a {
    margin: 0 10px;
    font-size: 20px;
}

footer .copyright {
    font-size: 14px;
    margin-top: 10px;
}


/* timeline css */

.design-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 100px 0;
}

.design {
  display: flex;
  align-items: center;
  justify-content: center;
}

.timeline {
  width: 80%;
  height: auto;
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.timeline-content {
  background: #1E3A8A;
  -webkit-box-shadow: 5px 5px 10px #5D74B7, -5px -5px 10px #3B5998;
          box-shadow: 5px 5px 10px #5D74B7, -5px -5px 10px #3B5998;
  color: white;
  padding: 1.75rem;
  transition: 0.4s ease;
  overflow-wrap: break-word !important;
  border-radius: 6px;
  text-align: center;
  margin-bottom: 20px;
  display: inline-block;
  margin-top: 10px;

}

.timeline-component {
  margin: 5px 20px 20px 20px;
}

.btn-custom {
    background-color: white;
    color: #1E3A8A;
    border: 2px solid #1E3A8A;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 8px;
    transition: all 0.3s ease-in-out;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    text-decoration: none;
    display: inline-block;
}
.btn-custom:hover {
    background-color: #E0F2FE;
    border-color: #1E3A8A;
    color: #1E3A8A;
    transform: translateY(-2px);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
}

.btn-custom:active {
    transform: scale(0.95);
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

@media screen and (min-width: 768px) {
  .timeline {
    display: grid;
    grid-template-columns: 1fr 3px 1fr;
  }
  .timeline-middle {
    position: relative;
    background-image: linear-gradient(45deg, #1E3A8A, #3B5998, #5D74B7);
    width: 3px;
    height: 100%;
  }
  .main-middle {
    opacity: 0;
  }
  .timeline-circle {
    position: absolute;
    top: 0;
    left: 50%;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-image: linear-gradient(45deg, #1E3A8A, #3B5998, #5D74B7);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }
}


#competences {
    text-align: center;
    padding: 50px 0;
    background-color: #f9f9f9;
}
#competences h2{
    font-size: 3rem;
    color: #1E3A8A; /* Bleu foncé */
    font-family: 'Trebuchet MS', sans-serif;
    font-weight: bold;
    text-align: center;
}
.carousel-container {
    height: 600px;
    position: relative;
    margin: auto;
    display: grid;
    grid-template-rows: 500px 100px;
    grid-template-columns: 1fr repeat(8, 30px) 1fr;
    align-items: center;
    justify-items: center;
}
.carousel-container .item i {
    font-size: 64px; /* Taille plus grande pour les icônes */
    color: #333; /* Couleur des icônes, vous pouvez l'ajuster à votre goût */
    margin-bottom: 10px; /* Espacement entre l'icône et le texte */
}


.radio-buttons {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
}

.radio-buttons input {
    appearance: none; /* Supprime le style par défaut */
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #ccc;
    cursor: pointer;
    transition: background 0.3s;
}

.radio-buttons input:checked {
    background: #333;
    transform: scale(1.2);
}
#carousel {
    grid-row: 1 / 2;
    grid-column: 1 / 10;
    width: 100vw;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
}

div.item {
    position: absolute;
    width: 300px;
    height: 400px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.5s ease, opacity 0.5s ease;
}

div.item img {
    width: 150px;
    height: auto;
    margin-bottom: 20px;
}

div.item p {
    font-size: 1.5em;
    font-weight: bold;
    color: #333;
}


/* Styles spécifiques pour la navbar sur la page legal.html */
#legal-page .navbar {
    background-color: rgba(255, 255, 255, 0.95);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#legal-page .navbar .nav-link {
    color: black !important; /* Applique la couleur noire aux liens dans la navbar */
}

#legal-page .navbar-brand {
    font-size: 1.8rem;
    font-weight: bold;
    font-family: 'Poppins', sans-serif; /* Ajoute une police moderne */
    color: black;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: color 0.3s ease-in-out;
}


/* Conteneur de la section de veille */
.veille-section {
    margin-top: 40px;
    padding: 0 15px; /* Ajout d'un petit espace à gauche et à droite pour éviter les bords collés */
    max-width: 1200px; /* Limite la largeur de la section */
    margin-left: auto;
    margin-right: auto; /* Centrage horizontal de la section */
}

/* Titre principal de la section */
/* Titre dans la section Veille */
#veille h2 {
    font-size: 3rem;
    color: #1E3A8A;
    margin-bottom: 30px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Trebuchet MS', sans-serif; /* Ajouter cette ligne pour uniformiser la police */
}


/* Paragraphe avec la définition de la veille technologique */
.veille-definition {
    color: #333333;
    font-size: 1.1rem;
    margin-bottom: 30px;
    text-align: center;
    line-height: 1.6;
    max-width: 800px; /* Limite la largeur du texte pour une meilleure lisibilité */
    margin-left: auto;
    margin-right: auto;
}

/* Lignes dans la section de veille */
.veille-row {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    flex-wrap: wrap; /* Ajout de cette ligne pour mieux gérer la disposition sur les petits écrans */
}

/* Colonnes dans la section de veille */
.veille-col {
    background-color: #E0F2FE; /* Fond bleu clair */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Ombre pour les cases */
    transition: background-color 0.3s ease;
    margin-bottom: 20px;
    width: 30%; /* Assure que les blocs prennent environ 30% de la largeur */
    margin-left: 1%; /* Petit espace entre les blocs */
    margin-right: 1%; /* Petit espace entre les blocs */
}

/* Titres dans la section de veille */
.veille-col h3 {
    color: #1E3A8A; /* Bleu foncé */
    font-size: 1.5rem; /* Taille de police plus grande pour les titres */
}

/* Paragraphes dans la section de veille */
.veille-col p {
    color: #333333;
    font-size: 1rem;
}

/* Liens dans la section de veille */
.veille-col a {
    color: #1E3A8A; /* Couleur du lien */
    text-decoration: none; /* Pas de soulignement */
    font-weight: bold;
}

/* Effet au survol des liens */
.veille-col a:hover {
    text-decoration: underline; /* Souligner le lien au survol */
    color: #004e92; /* Changer la couleur au survol */
}

/* ------------------------ Responsive Design ------------------------ */

/* Lorsque la largeur de l'écran est inférieure à 1200px (tablettes, petits ordinateurs) */
@media (max-width: 1200px) {
    .veille-col {
        width: 45%; /* 2 colonnes par ligne */
    }
}

/* Lorsque la largeur de l'écran est inférieure à 768px (smartphones en mode paysage et tablettes) */
@media (max-width: 768px) {
    #veille h2 {
        font-size: 2rem; /* Réduction de la taille du titre */
    }

    .veille-definition {
        font-size: 1rem; /* Réduction de la taille de la police */
        margin-bottom: 20px; /* Moins de marge en bas */
    }

    .veille-col {
        width: 48%; /* 2 colonnes avec un peu plus d'espace entre elles */
    }
}

/* Lorsque la largeur de l'écran est inférieure à 480px (smartphones en mode portrait) */
@media (max-width: 480px) {
    #veille h2 {
        font-size: 1.8rem; /* Taille du titre plus petite pour les petits écrans */
    }

    .veille-definition {
        font-size: 0.95rem; /* Réduction de la taille de la police */
    }

    .veille-col {
        width: 100%; /* Chaque élément prend toute la largeur disponible */
        margin-left: 0; /* Supprimer l'espace à gauche */
        margin-right: 0; /* Supprimer l'espace à droite */
    }

    .veille-row {
        justify-content: center; /* Centrer les éléments sur petits écrans */
    }
}

/* Styles spécifiques à la section Projet */

/* Conteneur de la section de projets */
.projet-section {
    margin-top: 40px;
    padding: 0 15px; /* Ajout d'un petit espace à gauche et à droite pour éviter les bords collés */
    max-width: 1200px; /* Limite la largeur de la section */
    margin-left: auto;
    margin-right: auto; /* Centrage horizontal de la section */
}

#projet h2 {
    font-size: 3rem;
    color: #1E3A8A;
    margin-bottom: 30px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Trebuchet MS', sans-serif; /* Ajouter cette ligne pour uniformiser la police */
}

/* Paragraphe avec la définition des projets */
.projet-definition {
    color: #333333;
    font-size: 1.1rem;
    margin-bottom: 30px;
    text-align: center;
    line-height: 1.6;
    max-width: 800px; /* Limite la largeur du texte pour une meilleure lisibilité */
    margin-left: auto;
    margin-right: auto;
}

/* Lignes dans la section de projets */
.projet-row {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    flex-wrap: wrap; /* Ajout de cette ligne pour mieux gérer la disposition sur les petits écrans */
}

/* Colonnes dans la section de projets */
.projet-col {
    background-color: #E0F2FE; /* Fond bleu clair */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Ombre pour les cases */
    transition: background-color 0.3s ease;
    margin-bottom: 20px;
    width: 30%; /* Assure que les blocs prennent environ 30% de la largeur */
    margin-left: 1%; /* Petit espace entre les blocs */
    margin-right: 1%; /* Petit espace entre les blocs */
}

.projet-col img {
    width: 100%; /* Ajuste la largeur pour remplir le bloc */
    height: auto; /* Garde les proportions */
    border-radius: 6px; /* Arrondit légèrement les coins */
    margin-bottom: 15px; /* Ajoute un espace sous l'image */
}


/* Titres dans la section de projets */
.projet-col h3 {
    color: #1E3A8A; /* Bleu foncé */
    font-size: 1.5rem; /* Taille de police plus grande pour les titres */
}

/* Paragraphes dans la section de projets */
.projet-col p {
    color: #333333;
    font-size: 1rem;
}

/* Liens dans la section de projets */
.projet-col a {
    color: #1E3A8A; /* Couleur du lien */
    text-decoration: none; /* Pas de soulignement */
    font-weight: bold;
}

/* Effet au survol des liens */
.projet-col a:hover {
    text-decoration: underline; /* Souligner le lien au survol */
    color: #004e92; /* Changer la couleur au survol */
}


/* Centrage et style de la section Poursuite d'Études */
#poursuite {
    text-align: center;
    padding: 50px 20px;
    background-color: #f9f9f9;
}

#poursuite h2 {
    font-size: 2.5rem;
    font-weight: bold;
    color: #1E3A8A;
    margin-bottom: 30px;
    text-transform: uppercase;
}

#poursuite p {
    max-width: 800px;
    margin: 0 auto 20px;
    font-size: 1.1rem;
    line-height: 1.6;
    color: #333333;
}

#poursuite ul {
    max-width: 800px;
    margin: 0 auto;
    text-align: left;
    padding-left: 20px;
}

#poursuite ul li {
    font-size: 1rem;
    color: #333333;
    margin-bottom: 10px;
}
