@import "~@fortawesome/fontawesome-free/css/all.min.css"; /* FontAwesome */


/* Vérification de l'image */
img {
    max-width: 100%;
    height: auto;
}

/* Couleurs personnalisées inspirées par l'univers du whiskey */
.navbar {
    background-color: #8B5E3C; /* Marron chaud */
}
.navbar-brand {
    color: #3E2723; /* Jaune doré */
}
.navbar-nav .nav-link {
    color: #F1E1C6; /* Beige clair */
}
.navbar-nav .nav-link:hover {
    color: #3E2723; /* Marron doré pour le survol */
}
/* Corps de la page */
body {
    background-color: #F6E1B3; /* Crème clair comme fond par défaut */
    color: #3E2723; /* Texte marron foncé */
}
div.hero {
    background-image: url('/img/wolfgang-hasselmann-pVr6wvUneMk-unsplash.jpg'); /* Assurez-vous que l'image existe */
    background-size: cover; /* L'image couvre toute la taille de l'écran */
    background-position: center; /* Centrer l'image */
    background-attachment: fixed; /* Fixer l'image lors du défilement */
    margin: 0;
    height: 100vh; /* Hauteur de l'écran */
}

#background-video {
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}

h1, h2, #btnVideo{

    color: white;

    font-family: Trebuchet MS;

    font-weight: bold;

    text-align: center;

}

h1 {
    font-size: 6rem;
    margin-top: 30vh;
}

h2 { font-size: 3rem; }

#btnVideo{
    font-size: 1.5rem;
    background: 0;
    border: 0;
    margin-left: 50%;
    transform: translateX(-50%);
}

/* Style pour le titre */
h1 {
    color: #3E2723; /* Texte h1 marron foncé */
    text-align: center;
    padding-top: 20vh; /* Décalage pour faire apparaître le texte après l'image */
}

/* Navbar Toggler */
.navbar-toggler-icon {
    background-color: #F1E1C6; /* Beige clair pour l'icône */
}

/* Style des éléments désactivés */
.nav-item.disabled {
    color: #A67C52; /* Gris / bronze pour les éléments désactivés */
}

/* Footer */
footer {
    background-color: #8B5E3C; /* Marron chaud, assorti à la navbar */
    color: #F1E1C6; /* Beige clair pour le texte */
    text-align: center;
    padding: 20px;
    margin-top: 50px;
}

footer a {
    color: #F1E1C6; /* Beige clair pour les liens */
    text-decoration: none;
    transition: color 0.3s ease;
}

footer a:hover {
    color: #3E2723; /* Marron doré au survol */
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-socials {
    margin-top: 10px;
}

.footer-socials a {
    margin: 0 10px;
    font-size: 20px;
}

footer .copyright {
    font-size: 14px;
    margin-top: 10px;
}
